@model FitnessPal.Models.AccountViewModels.AddUserItemViewModel

@{
    ViewBag.Title = "Add Exercise to Acount User: " + Model.AccountUser.AccountUserName;
}

<form asp-controller="User" asp-action="AddItem" method="post">
    <div class="form-group">
        <label asp-for="ExerciseID"></label>
        <select asp-for="ExerciseID" asp-items="Model.Exercises"></select>
        <span asp-validation-for="ExerciseID"></span>
        <label asp-for="DateID"></label>
        <select asp-for="DateID" asp-items="Model.Dates"></select>
        <span asp-validation-for="DateID"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>

    <input type="hidden" name="AccountUserID" value="@Model.AccountUser.ID" />


</form>